.counterBtn {
    width: 30px;
    height: 30px;
    background-color: rgb(246, 246, 241);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.containerCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

